<div class="card mb-3 mx-auto mt-5" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/imagenes/{{this.image}}" class="img-fluid rounded-start" alt="{{this.nombre}}">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{this.nombre}}</h5>
        <p class="card-text">{{this.descripcion}}</p>
        <p class="card-text">Stock: {{this.stock}}</p>
        <p class="card-text">Precio: {{this.precio}}</p>
        <button class="btn btn-primary" onclick="agregarCarro('{{this.id}}', {{this.stock}})">Agregar al carro</button>
      </div>
    </div>
  </div>
</div>


<script>
var agregarCarro = (id) => {
  const myHeaders = new Headers()
  myHeaders.append('Content-Type', 'application/json')

  const raw = JSON.stringify({
    idUsuario: '1',
    id_producto: id
  })

  const requestOptions = {
    method: 'POST',
    headers: myHeaders,
    body: raw
  }

  fetch('/api/v1/carro', requestOptions)
    .then(response => response.json())
    .then(result => {
      alert(result.message)
    })
    .catch(error => console.log('error', error))
}
</script>